= form_for :word_note, url: song_name_add_song_note_path(@song_name), remote: true, class: 'no_margin_form' do |f|
  = f.text_field :note_number, class: 'span-smalltext', id: 'note_number_field'
  = f.hidden_field :line_position, {value: index}
  = f.hidden_field :verse_id, {value: verse_id}

  = f.submit '+'
  = link_to 'cancel', song_name_edit_song_note_path(@song_name.id, edit_index: index, verse_id: verse_id, edit_note: false), remote: true