= form_for :measure, :url=>song_measure_path(song, measure, {:position=>position}), :html=>{:method=>:put} do
  %tr
    %td{:colspan=>2}
      = submit_tag 'clear', { class: 'btn btn-mini' }
  %tr
    %td{:colspan=>2}
      = submit_tag 'invert up', { class: 'btn btn-mini' }
  %tr
    %td{:colspan=>2}
      = submit_tag 'invert down', { class: 'btn btn-mini' }
  %tr
    %td{:colspan=>2}
      = submit_tag 'replace with chord', { class: 'btn btn-mini' }
      = select_tag :chord_note, options_from_collection_for_select(@notes, :name, :name), {class: 'span1'}
      = select_tag :chord_name, options_from_collection_for_select(@chord_names, :name, :name), {class: 'span1'}
  %tr
    %td
      = link_to 'Done', edit_song_measure_path(song, measure, done: true), remote: true