%h1 
  New song in the key of
  = @key

%p
  Within the key of 
  = @key
  , we have the following notes within the scale, and the numbers associated with the notes:
%p
  %table
    %tr
      - @notes.each_with_index do |note, index|
        %td
          %table
            %tr
              %td
                = index+1
            %tr
              %td
                = note.name

%table
  - @song.measures.each do |measure|
    - measure.positions.each do |pos|
      %td(valign="top")
        %table
          - measure.notes_by_position[pos].reverse.each do |measure_note|
            %tr
              %td
                = measure_note.name    
              = form_for :measure_note, :url=>song_measure_measure_note_path(@song, measure, measure_note), :html=>{:method=>:put} do
                %td
                  = render :partial=>'songs/note_select', :locals=>{:notes=>@notes}
                  = select_tag :octave, options_for_select( (1..6).collect{|n| [n, n]} )
                  = submit_tag 'add'
                  = submit_tag 'clear'
                  = submit_tag 'invert up'
                  = submit_tag 'invert down'

          = form_for :measure, :url=>song_measure_path(@song, measure, {:position=>pos}), :html=>{:method=>:put} do
            %tr
              %td{:colspan=>2}
                = submit_tag 'clear'
            %tr
              %td{:colspan=>2}
                = submit_tag 'invert up'
            %tr
              %td{:colspan=>2}
                = submit_tag 'invert down'
            %tr
              %td{:colspan=>2}
                = submit_tag 'replace with chord'
                = select_tag(:chord_note, options_from_collection_for_select(@notes, :name, :name))
                = select_tag(:chord_name, options_from_collection_for_select(@chord_names, :name, :name))
  
%p
= form_tag(song_add_to_path(@song)) do
  = render :partial => 'note_select', :locals=>{:notes=>@notes}
  = submit_tag 'Add note'
%p
= form_tag(song_add_to_path(@song)) do
  = select_tag(:chord, options_from_collection_for_select(@notes, :description, :description))
  = submit_tag 'Add chord by number'
%p
= form_tag(song_add_to_path(@song)) do
  = select_tag(:chord_note, options_from_collection_for_select(@notes, :name, :name))
  = select_tag(:chord_name, options_from_collection_for_select(@chord_names, :name, :name))
  = submit_tag 'Add chord by name'
%p
= form_tag(song_add_to_path(@song)) do
  = select_tag(:progression, options_from_collection_for_select(@progressions, :id, :name))
  = submit_tag 'Add progression'

%br
= link_to 'Play', song_play_path(@song)
%br
= link_to 'Restart with a new key', root_path
%br
= link_to 'Clear Song', song_clear_path(@song)
