%h3 
  New song in the key of
  = @key

%p
  Scale notes and numbes
%p
  %table
    %tr
      - @notes.each_with_index do |note, index|
        %td
          %table
            %tr
              %td
                = note.name
            %tr
              %td
                = index+1
            

= render :partial=>'all_notes'

%br
= link_to 'Play', song_play_path(@song)
%br
= link_to 'Restart with a new key', root_path
%br
= link_to 'Clear Song', song_clear_path(@song)
