%h3 
  New song in the key of
  = @key
%p
  = form_tag(song_path(@song), :method=>:get) do
    = radio_button_tag('note_style', 'all_notes', session[:note_style]=='all_notes')
    All Notes
    = radio_button_tag('note_style', 'lead_sheet', session[:note_style]=='lead_sheet')
    Lead Sheet
    = submit_tag 'Switch', {class: 'btn btn-mini'}
%p
  Scale notes and numbers
%p
  %table
    %tr
      - @notes.each_with_index do |note, index|
        - next if note.name == 'rest'
        %td
          %table
            %tr
              %td
                = note.name
            %tr
              %td
                = index+1
            

-if session[:note_style] == 'all_notes'
  = render :partial=>'all_notes'
-else
  = render :partial=>'lead_sheet_style'

%br
= link_to 'Play', song_play_path(@song), remote: true
%br
= link_to 'Restart with a new key', root_path
%br
= link_to 'Clear Song', song_clear_path(@song)
