- unless verses.empty?
  %table
    - verses.each do |verse|
      %tr
        - verse.words.split(" ").each_with_index do |word, index|
          %td
            %table{width: '100%'}
              %tr
                %td{id: "#{verse.id}_#{index}", align: 'center'}
                  = render 'verses/show_verse_word', verse: verse, index: index
              %tr
                %td{align: 'center'}
                  = word
        %td
          %table
            %tr
              %td
                - if @edit
                  = link_to '-', song_name_delete_verse_path(verse.song_name_id, verse_id: verse, delete: true), remote: true
            %tr
              %td &nbsp;