%p#notice= notice

%p
  %b Title:
  = @song_name.title
%p
  %b Description:
  = @song_name.description

- if @song_name.song_id  
  %p
    %b Song:
    = @song_name.song_id

%p
  = link_to 'Edit Song Lyrics', song_name_edit_verses_path(@song_name)

= link_to 'Edit', edit_song_name_path(@song_name)
\|
= link_to 'Back', song_names_path
