%p#notice= notice

.song-info
  .song-title
    = @song_name.title
  .song-key
    in
    = @song_name.note.name
  .artist
    = @song_name.artist
  .album
    = @song_name.album

%p
#verses
  = render 'verses/show_verses', verses: @song_name.verses.includes(:word_notes).to_a, song_notes: @song_notes

%p
  %ul.nav
    - if user_signed_in?
      %li= link_to 'Edit Song Lyrics', song_name_verses_path(@song_name)
    %li
      - if @show_notes
        = link_to 'Show Chord Numbers', song_name_path(@song_name)
      - else
        = link_to 'Show Chords', song_name_path(@song_name, toggle_chords: true)

- if user_signed_in?
  = link_to 'Edit', edit_song_name_path(@song_name)
  \|
  = link_to 'Delete', @song_name, :method => :delete, :data => { :confirm => 'Are you sure?' }
  \|
= link_to 'Song List', song_names_path
